<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .message {
        margin-bottom: 20px;
      }
      .token {
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="message">Dear user,</p>
      <p class="message">
        Thank you for logging in to our application. Your one-time password is:
        <span class="token">{{token}}</span>
      </p>
      <p class="message">We hope you have a great experience!</p>
      <p class="message">Best regards,<br />Tweetify</p>
    </div>
  </body>
</html>
